.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#life-count,
#stone-count {
    font-size: 50px;
}

.game {
    width: 600px;
    height: 400px;
    border-bottom: 1px solid black;
    margin: auto;
}   

#jumpButton {
    padding: 20px;
    width: 200px;
}

#rainbow {
    width: 150px;
    height: 100px;
    background-image: url(images/rainbow.png);
    background-size: 150px 100px;
    position: relative;
    top: 300px;
}

#stone {
    width: 20px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: sienna;
    position: relative;
    top: 260px;
    left: 580px;
    animation: stoneMove 5s infinite linear;
}

@keyframes stoneMove {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 3s ease;
}

@keyframes jump {
    0% {
        top: 300px;
    }

    50% {
        top: 150px;
    }

    100% {
        top: 300px;
    }
}